parameters:
    level: 7
    paths:
        - extensions
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            message: '#Parameter .3 \$default of function idx expects wild\|null, string given\.#'
            count: 1
            path: 'extensions/eslint_linter/src/ESLintBatchLinter.php'
